PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/new_sanjay_jewellers
JWT_SECRET=new_sanjay_jewellers_super_secret_jwt_key_2024
JWT_EXPIRE=30d

# Frontend URL (e.g. https://sanjayjwellers.com in production or http://localhost:5173 in development)
CLIENT_URL=https://sanjayjwellers.com
